@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fafafa;
    --background: #202937;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background);
}
